version https://git-lfs.github.com/spec/v1
oid sha256:9d0ee5c472e37c780b6bd6f6eb366eb710324f20cee5515f65ed01c99ec48867
size 207

.DS_Store

NOTES.md

# Large data files that can be programmatically downloaded in new repos
data/raw-by-source/usgs/mt-national-hydrography-dataset.zip
data/raw-by-source/msl/mt-transportation-framework.zip