# Large files
data/processed/original-resolution/mt-waterways-stream-lines.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/original-resolution/mt-waterways-water-bodies.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/1m-resolution/mt-waterways-stream-lines-1m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/original-resolution/mt-roads.geojson filter=lfs diff=lfs merge=lfs -text
data/raw-by-source/msl/mt-transportation-framework.zip filter=lfs diff=lfs merge=lfs -text
data/processed/1m-resolution/mt-roads-1m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/1m-resolution/mt-waterways-water-bodies-1m.geojson filter=lfs diff=lfs merge=lfs -text
data/raw-by-source/us-census/census-urban-areas-2020.zip filter=lfs diff=lfs merge=lfs -text
.gitignore !text !filter !merge !diff
data/processed/1000m-resolution/mt-roads-1000m.geojson !text !filter !merge !diff
data/processed/10m-resolution/mt-roads-10m.geojson !text !filter !merge !diff
data/processed/100m-resolution/mt-roads-100m.geojson !text !filter !merge !diff
data/processed/1000m-resolution/mt-roads-1000m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/10m-resolution/mt-roads-10m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/100m-resolution/mt-roads-100m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/1000m-resolution/mt-all-roads-1000m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/100m-resolution/mt-all-roads-100m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/10m-resolution/mt-all-roads-10m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/1m-resolution/mt-all-roads-1m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/1000m-resolution/mt-local-roads-1000m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/100m-resolution/mt-local-roads-100m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/10m-resolution/mt-local-roads-10m.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/1m-resolution/mt-local-roads-1m.geojson filter=lfs diff=lfs merge=lfs -text
data/raw/usgs/mt-national-hydrography-dataset.zip filter=lfs diff=lfs merge=lfs -text
data/processed/original-resolution/mt-waterways-water-bodies-mt-clipped.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/original-resolution/mt-waterways-stream-lines-mt-clipped.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/original-resolution/mt-all-roads.geojson filter=lfs diff=lfs merge=lfs -text
data/processed/original-resolution/mt-local-roads.geojson filter=lfs diff=lfs merge=lfs -text
data/raw/us-census/census-urban-areas-2020.zip filter=lfs diff=lfs merge=lfs -text
